@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Numito:300,400,700");
.container {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem; }

header {
  height: 85vh; }
  header nav {
    padding: 1rem;
    height: 15vh; }
  header a.navbar-brand {
    color: #c05000; }
    header a.navbar-brand img {
      width: 100px; }
  header a.nav-link {
    color: #c05000;
    font-size: 1.3rem; }
  header .navbar-toggler {
    border: #c05000 2px solid; }

.bg-scroll {
  transition: 0.5s;
  background-color: #000000cb;
  border-bottom: 5px solid #c05000; }

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
  padding: 2rem; }
  footer .rrss {
    margin: 1rem; }
    footer .rrss ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem; }
      footer .rrss ul li {
        list-style: none; }
        footer .rrss ul li img {
          width: 2rem; }

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  height: 20vh;
  padding: 20px;
  background-color: whitesmoke;
  color: #141414;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .hero p {
    margin: 0; }
  .hero input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; }
  .hero select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; }
  .hero label {
    margin-right: 10px; }
  .hero input[type="text"] {
    width: calc(100% - 60px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .hero input[type="text"]:focus {
      border-color: #007bff;
      outline: none; }

.publi {
  width: 100%; }
  .publi .publi-img {
    width: 100%;
    height: 85vh;
    background-image: url("../assets/img/casas/hero.jpg");
    background-size: cover;
    background-position: center; }

.slider2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto; }
  .slider2 .slides2 {
    display: flex;
    transition: transform 0.5s ease-in-out; }
  .slider2 .slide2 {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .slider2 .slide2 img {
      max-width: 100%;
      height: auto;
      max-height: 50vh; }
    .slider2 .slide2 .slider-text {
      width: 100%;
      position: absolute;
      top: 10%;
      color: #ffe;
      text-align: center;
      font-size: 24px;
      font-weight: bold; }
  .slider2 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer; }
    .slider2 button.prev {
      left: 10px; }
    .slider2 button.next {
      right: 10px; }

@keyframes slide2 {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(-200%); }
  75% {
    transform: translateX(-300%); }
  100% {
    transform: translateX(-400%); } }

.galeria-tipos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem; }
  .galeria-tipos .card-tipos {
    width: 300px; }
    .galeria-tipos .card-tipos img {
      width: 100%;
      height: 400px;
      object-fit: cover; }

.opiniones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  background-color: #f9f9f9; }
  .opiniones img {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .opiniones .texto-opinion {
    text-align: left; }
    .opiniones .texto-opinion h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .opiniones .texto-opinion p {
      font-size: 1.2rem; }
  .opiniones .estrellas {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .opiniones .estrellas img {
      width: 20px;
      height: 20px; }

.opiniones-container {
  position: relative;
  height: 300px;
  /* Ajusta esto según tus necesidades */
  overflow: hidden; }

.opiniones-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slider 10s infinite;
  /* Ajusta la duración según tus necesidades */ }

@keyframes slider {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.opiniones-slide:nth-child(2) {
  animation-delay: 1s;
  /* Ajusta el retraso según tus necesidades */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin: 1rem; }

.galeria-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  height: 250px;
  background-color: randomColor(); }

.galeria-img {
  width: 20%; }
  .galeria-img img {
    width: 100%;
    margin: 1rem; }

.galeria-text {
  width: 70%;
  margin: 1rem; }

.galeria-container:nth-child(1) {
  background-color: #35051b; }

.galeria-container:nth-child(2) {
  background-color: #5b883b; }

.galeria-container:nth-child(3) {
  background-color: #e0c5aa; }

.galeria-container:nth-child(4) {
  background-color: #ccdda0; }

.galeria-container:nth-child(5) {
  background-color: #104ed9; }

.galeria-container:nth-child(6) {
  background-color: #6cd18a; }
