// Función para generar estilos de tarjetas de opiniones con diferentes colores
@function generate-color($index) {
    @return nth(('red', 'green', 'blue', 'yellow', 'purple'), $index);
  }
  
  // Aplicar estilos a las tarjetas de opinión
  .opiniones-section {
  
    .opinion-card {
      @include opinion-card-base;
  
      &__front {
        @include opinion-card-front;
      }
  
      &__back {
        @include opinion-card-back;
      }
  
      @include opinion-card-hover-effect;
    }
  }


  // Función para generar estilos de texto
  @function text-style($weight, $size, $color) {
    @return (
        font-family: "Open sans",
        font-weight: $weight,
        font-size: $size,
        color: $color
    );
  }