@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: 'Karla', sans-serif;

$colors: (
    primary: rgb(20, 20, 20),
    secondary: rgb(189, 189, 189),
    tertiary: #ffffff,
    quaternary: #c05000,
    menu: #000000cb,
);

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

$font-sizes: (
    xs: 1rem,
    sm: 1.3rem,
    md: 1.6rem,
    lg: 1.8rem,
    xl: 2rem,
    xxl: 2.5rem,
);

@function font-size ($size-name) {
    @return map-get($font-sizes, $size-name);
}

$font-weight: (
    light: 300,
    regular: 400,
    bold: 700,
);

@function font-weight ($weight-name) {
    @return map-get($font-weight, $weight-name);
}

$navbar-height: 80px;
