// Reset CSS y estilos base
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html {
    scroll-behavior: smooth;
}

h2{
    font-family: $font-family-secondary;
    font-size: ('xl');
    font-weight: 700;
    margin-bottom: 1rem;
    width: auto;
    border-bottom: color('naranja') 3px solid;
}

.container {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}