
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 1rem;
	margin: 1rem;
}
.galeria-container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    height: 250px;
    background-color: randomColor();
}
.galeria-img {
    width: 20%;
    
	img {
		width: 100%;
        margin: 1rem;

	}
}

.galeria-text{
    width: 70%;
    margin: 1rem;
}


@function color-aleatorio() {
	$rojo: random(255);
	$verde: random(255);
	$azul: random(255);
	
	@return rgb($rojo, $verde, $azul);
  }
  
  $numero-de-colores: 6;
  
  @for $i from 1 through $numero-de-colores {
	.galeria-container:nth-child(#{$i}) {
	  background-color: color-aleatorio();
	}
  }

