@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: auto;
    border-bottom: color('quaternary') 3px solid;
}