/// Header styles
header {
    height: 85vh; // Header height

    nav {
        padding: 1rem;
        height: 15vh; // Navigation styles

        a.navbar-brand {
            color: color('quaternary'); // Navbar brand styles

            img {
                width: 64px; // Navbar brand image styles
            }
        }

        a.nav-link {
            color: color('quaternary');
            font-size: font-size('sm'); // Navigation link styles

            &:hover {
                @include hover-animation;
            }
        }

        .navbar-toggler {
            border: color('quaternary') 2px solid; // Navbar toggler styles

            .navbar-toggler-icon {
                color: color('quaternary');
            }
        }

        .container-fluid {
            .show {
                padding-bottom: 15rem;
            }

            .navbar-collapse {
                width: 100%;
            }
        }
    }
}

.bg-scroll {
    background-attachment: fixed;
    transition: 0.2s;
    background-color: color('menu');
    border-bottom: 5px solid color('quaternary');
    height: 12vh; // Background scroll styles
}





.header-detalle {
    background-color: color('menu');
    height: 12vh;
}