.buscar {
    // Aplicar estilos de centrado flexbox
    @include flex-center(row, 2.5rem);
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 15vh;
    padding: 20px;
    background-color: color('gris'); 
    color: color('negro'); 
    border-top: 2px solid color('naranja'); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 

    div {
        width: 200px;
        text-align: center;
    }

    p { 
        margin: 0;   
    }

    input {
        width: 100%;
    }

    input[type="date"] {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 2px solid color('blanco');
        background-color: color('gris');
        &:focus {
            border-color: color('naranja');
            outline: none;
        }
    }

    select {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 2px solid color('blanco');
        background-color: color('gris');
        &:focus {
            border-color: color('naranja');
            outline: none;
        }
    }

    label {
        margin-right: 10px;
    }

    input[type="text"] {
        padding: 8px;
        border: none;
        border-bottom: 2px solid color('blanco');
        background-color: color('gris');
        &:focus {
            border-color: color('naranja');
            outline: none;
        }
    }

    .boton-buscar {
        margin-top: 1.5rem;
        .boton {
            /* Utiliza el mixin para crear un botón de estilo 1 */
            @include crear-boton(1); 
        }
    }
}
