
header {
	height: 85vh;
	nav {
		padding: 1rem;
		height: 15vh;
	}
	
		a.navbar-brand{
			color: color('quaternary');
			img{
				width: 100px;
			}
		}
		a.nav-link{
			color: color('quaternary');	
			font-size: font-size('sm');
		}
		.navbar-toggler{
			border: color('quaternary') 2px solid;
		}


}

.bg-scroll {
	transition: 0.5s;
	background-color: color('menu');
	border-bottom: 5px solid color('quaternary');
}