.detalle {
    padding: 50px 0;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
  
      .detalle-img {
        display: flex;
        flex-direction: column;
        flex: 0 0 60%;
        max-width: 60%;
        min-width: 300px;
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
   
        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
            img{
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
            
        }
        .detalle-masimagenes{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;
            img{
                width: 150px;
                height: 100px;
                border-radius: 8px;
                &:hover{
                    transition: 0.15s ease;
                    border: color('quaternary') 5px solid;
                    cursor: pointer;
                }

            }

            @media screen and (max-width: 768px){
                justify-content: center;
                align-items: center;
                
            }

        }
      }
  
      .detalle-info {
        display: flex;
        gap: 2rem;
        flex: 0 0 60%;
        max-width: 60%;
  
        height: 100%;

        @media screen and (max-width: 768px) {
            flex: 0 0 90%;
            flex-direction: column;
            max-width: 90%;
        }
        h2 {
          font-size: 24px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 20px;
        }
  
        .detalle-amenidades {
          h3 {
            font-size: 20px;
            margin-bottom: 10px;
          }
  
          ul {
            list-style: none;
            padding: 0;
  
            li {
              font-size: 16px;
              margin-bottom: 5px;
  
              i {
                margin-right: 5px;
              }
            }
          }
        }
  
        .detalle-ubicacion,
        .detalle-precio,
        .detalle-reservar {
          margin-top: 20px;
  
          h3 {
            font-size: 20px;
            margin-bottom: 10px;
          }
  
          p {
            font-size: 16px;
          }
  
          button {
            font-size: 18px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #0056b3;
            }
          }
        }
        .detalle-info1{
            display: flex;
            flex-direction: column;
            flex: 0 0 70%;
            max-width: 70%;
            height: 100%;
            padding-left: 1rem;
            border-left: color('quaternary') 2px solid;
            @media screen and (max-width: 768px){
                flex: 0 0 100%;
                max-width: 100%;
                
            }
        }
        .detalle-contacto{
            display: flex;
            flex-direction: column;
            flex: 0 0 30%;
            max-width: 30%;
            height: 100%;
            padding-left: 1rem;
            border-left: color('quaternary') 2px solid;
            @media screen and (max-width: 768px){
                flex: 0 0 100%;
                max-width: 100%;
                
            }

        }
      }
    }
  }
  