.detalle {
    padding: 50px 0;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        .detalle-img {
            display: flex;
            flex-direction: column;
            flex: 0 0 60%;
            width: 60%;
            min-width: 300px;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }

            @media screen and (max-width: 768px) {
                flex: 0 0 100%;
                width: 100%;

            }

            .detalle-masimagenes {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 1rem;

                img {
                    width: 150px;
                    height: 100px;
                    border-radius: 8px;

                    &:hover {
                        transition: 0.15s ease;
                        border: color('naranja') 5px solid;
                        cursor: pointer;
                    }
                }

                @media screen and (max-width: 768px) {
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }

        .detalle-info {
            display: flex;
            gap: 2rem;
            flex: 0 0 60%;
            max-width: 60%;
            height: 100%;

            @media screen and (max-width: 768px) {
                flex: 0 0 90%;
                flex-direction: column;
                max-width: 90%;
            }

            .detalle-descripcion,
            .detalle-amenidades,
            .detalle-ubicacion,
            .detalle-precio,
            .detalle-reservar,
            .detalle-contacto {
                h3 {
                    font-size: font-size('md');
                    margin-bottom: 10px;
                }

                p {
                    font-size: font-size('xs');
                }
            }

            .detalle-amenidades {
                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        font-size: 16px;
                        margin-bottom: 5px;

                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .detalle-reservar {
                .boton{
                    @include crear-boton(1);

                }
            }

            .detalle-info1,
            .detalle-contacto {
                display: flex;
                flex-direction: column;
                flex: 0 0 70%;
                max-width: 70%;
                height: 100%;
                padding-left: 1rem;
                border-left: color('naranja') 2px solid;

                @media screen and (max-width: 768px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            .detalle-contacto {
                flex: 0 0 30%;
                max-width: 30%;
            }
        } 
    }
}