.gallery {
    // Aplicar estilos de rejilla para una galería
    @include gridGalery(8, 1fr, 7, 5vw, 1.5rem);

    &__item {
        // Definir las posiciones de los elementos de la galería
        &--1 { 
            @include gallery-item(1, 2, 1, 2); 
        }
        &--2 { 
            @include gallery-item(1, 3, 3, 3); 
        }
        &--3 { 
            @include gallery-item(1, 2, 6, 1); 
        }
        &--4 { 
            @include gallery-item(1, 2, 7, 2); 
        }
        &--5 { 
            @include gallery-item(3, 3, 1, 2); 
        }
        &--6 { 
            @include gallery-item(4, 2, 3, 2); 
        }
        &--7 { 
            @include gallery-item(4, 1, 5, 1); 
        }
        &--8 { 
            @include gallery-item(3, 2, 6, 2); 
        }
        &--9 { 
            @include gallery-item(3, 3, 8, 1); 
        }
        &--10 { 
            @include gallery-item(6, 2, 1, 1); 
        }
        &--11 { 
            @include gallery-item(6, 2, 2, 2); 
        }
        &--12 { 
            @include gallery-item(6, 2, 4, 1); 
        }
        &--13 { 
            @include gallery-item(5, 3, 5, 3); 
        }
        &--14 { 
            @include gallery-item(6, 2, 8, 1); 
        }
    }

    &__img {
        // Estilos para las imágenes de la galería
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
