.opiniones-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;

}
.opiniones-grid{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

