.opiniones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.opiniones-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    background-color: color('secondary');

}
.opiniones-grid{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.opinion-card__front{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    background-color: color('tertiary');
    border-radius: 5px;
    text-align: center;
}