.propiedades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    
    .propiedad{
        @include flex-center;
        width: 80%;
        padding: 1rem;
        gap: 2rem;
        flex-wrap: wrap;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-radius: 25px;
        .propiedad-datos{
            width: 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 1rem;
            .services{
                i{
                    font-size: font-size('md');
                    color: color('primary');
                }
            }
        }
    }

    @media screen and (max-width: 1095px){
        gap: 2rem;
        .propiedad{
            width: 95%;
            .propiedad-datos{
                width: 100%;
            }
        }
    }
}