/// Contenedor principal para el slider
.slider2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;

    /// Contenedor para las diapositivas
    .slides2 {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    /// Diapositiva individual
    .slide2 {
        width: 100%;
        flex: 0 0 auto;
        @include flexbox(row, center, center);

        /// Imagen en la diapositiva
        img {
            max-width: 100%;
            height: auto;
            max-height: 50vh;
        }

        /// Texto en la diapositiva
        .slider-text {
            width: 100%;
            position: absolute;
            top: 10%;
            color: color('blanco');
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
    }

    /// Botones de navegación del slider
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;

        /// Botón para ir a la diapositiva anterior
        &.prev {
            left: 10px;
        }

        /// Botón para ir a la siguiente diapositiva
        &.next {
            right: 10px;
        }
    }

    /// Animación para el desplazamiento de las diapositivas
    @keyframes slide2 {
        0% { transform: translateX(0); }
        25% { transform: translateX(-100%); }
        50% { transform: translateX(-200%); }
        75% { transform: translateX(-300%); }
        100% { transform: translateX(-400%); }
    }
}