.section-tipos{
  background-color: color('secundary',);
  padding: 2rem 0;
  text-align: center;

  h2{
    margin-bottom: 2rem;
  }

  .galeria-tipos{
    @include flex-center-wrap;
    width: 100%;
    gap: 1rem;
  
    .card-tipos{
      width: 300px;
      
      img{
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
    &:hover .card-tipos {
      transition: all 0.5s ease-in-out;
      transform: scale(0.8);
      filter: brightness(0.5) saturate(0) contrast(1.2) blur(5px);
    }
  
    // Cuando se pasa el mouse sobre una tarjeta específica, se revierten los estilos de desenfoque
    .card-tipos:hover {
      transform: scale(1.1);
      filter: brightness(1) saturate(1) contrast(1) blur(0);
    }
   
  }

}
